<script src="https://unpkg.com/vue@3"></script>
<div id="modal" class="modal-overlay">
    <div class="modal-window">
        <div class="title" id="modal_title" onmousedown="mainLogin.readPop()">
            <!--<h2>회원가입</h2>-->
        </div>
        <div class="close-area"><span onclick="mainLogin.closeModal()">x</span></div>
        <div class="content">
            <p><input type="text" v-model="privateName" id="privateName" placeholder="성함"></p>
            <p><input type="text" v-model="company" id="company" placeholder="개인/회사"></p>
            <p><input type="text" v-model="privateEmail" id="privateEmail" placeholder="이메일"></p>
            <p><input type="text" v-model="privateBirt" id="privateBirt" placeholder="생년월일"></p>
            <button type="button" onclick="mainLogin.sendMemberInfos()">정보등록</button>
            <p>개인정보는 사이트 방문자<br>확인을 위해 사용됩니다.</p>
            <p>*디자인 차후 수정*</p>
        </div>
    </div>
</div>


